<script src="/javascripts/live.js"></script>
<div style="position:absolute; left:50px; top:100px; text-align: left ; " >
<h2>You're almost there</h2>
<p>We have sent an email to your email<br><br>Please check your email and click on the link so we can confirm your email address.<br><br> If you not receive confirmation mail then enter your mail and submit here</p>
<%= form_for(resource_name, resource, :url => confirmation_path(resource_name)) do |f| %>
  <%= f.error_messages %>
  <br>
  <p><%= f.label :Your_email_address%>&nbsp<%= f.text_field :email %></p>

  <center><%= f.submit "Resend email" %></center>
<% end %>

</div>

<script>
var f1 = new LiveValidation('user_email');
f1.add( Validate.Presence );
f1.add( Validate.Email );
</script>
