
<%= form_for(resource_name, resource, :url => registration_path(resource_name)) do |f| %>



<DIV id=u41 style="position:absolute; left:425px; top:340px; width:170px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u41_rtf><span style=" font-family:'Arial'; color:#FF0000; font-size:10pt;"><%= f.error_messages %></span></DIV></DIV>

<DIV id=u37 style="position:absolute; left:52px; top:130px; width:250px; height:22px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u37_rtf><span style=" font-family:'Arial'; color:#003366; font-size:14pt;">Join Minetoo for 12 May 1977</span></DIV></DIV>

<DIV id=u38 style="position:absolute; left:20px; top:174px; width:560px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u38_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Joining Minetoo is easy. First add your details below. Then the interesting part. You'll pick the qualities that best describe you and write a few words about yourself. </span></DIV></DIV>

<DIV id=u39 style="position:absolute; left:20px; top:210px; width:560px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u39_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Will your description of yourself match up with others who share your birthday? You're about to find out. </span></DIV></DIV>

<DIV id=u40 style="position:absolute; left:60px; top:260px; width:90px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u40_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Your Birthdate</span></DIV></DIV>

<DIV id=u41 style="position:absolute; left:76px; top:290px; width:70px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u41_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Your Name</span></DIV></DIV>

<DIV id=u66 style="position:absolute; left:170px; top:315px; width:266px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u66_rtf><span style=" font-family:'Arial'; color:#000000; font-size:9pt;">We never reveal your email address to anyone.</span></DIV></DIV>

<DIV id=u42 style="position:absolute; left:26px; top:340px; width:119px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u42_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Your Email Address</span></DIV></DIV>

<DIV id=u42 style="position:absolute; left:26px; top:380px; width:119px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u42_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Password</span></DIV></DIV>

<DIV id=u42 style="position:absolute; left:26px; top:420px; width:119px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u42_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Password_confirmation</span></DIV></DIV>

<DIV id=u43 style="position:absolute; left:111px; top:454px; width:30px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u43_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Sex</span></DIV></DIV>

<DIV id=u44 style="position:absolute; left:60px; top:490px; width:80px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u44_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Hour of Birth</span></DIV></DIV>

<DIV id=u45 style="position:absolute; left:24px; top:549px; width:120px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u45_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Where do you live?</span></DIV></DIV>

<DIV id=u46 style="position:absolute; left:20px; top:620px; width:130px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u46_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Where do you born?</span></DIV></DIV>

<%= f.label :date, :style=>"position:absolute; left:170px; top:260px; width:205px; height:15px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" %>

<%= f.text_field :name, :style=>"position:absolute; left:170px; top:290px; width:205px; height:15px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" %>

<%= f.text_field :email, :style=>"position:absolute; left:170px; top:340px; width:205px; height:15px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" %>

<%= f.password_field :password, :style=>"position:absolute; left:170px; top:380px; width:205px; height:15px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" %>

<%= f.password_field :password_confirmation, :style=>"position:absolute; left:170px; top:420px; width:205px; height:15px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" %>

<DIV >
  <%= f.radio_button :sex, 'male', :style=>"position:absolute; left:166px; top:457px; width:50px; height:16px; ; ; text-align: left ; font-family:'Arial'; color:#000000; font-size:10pt " %> 
  <%= label :male, 'Male', :style=>"position:absolute; left:186px; top:460px; width:50px; height:16px; ; ; text-align: left ; font-family:'Arial'; color:#000000; font-size:10pt " %> 
  <%= f.radio_button :sex, 'female', :style=>"position:absolute; left:216px; top:457px; width:50px; height:16px; ; ; text-align: left ; font-family:'Arial'; color:#000000; font-size:10pt " %> 
  <%= label :female, 'Female', :style=>"position:absolute; left:236px; top:460px; width:50px; height:16px; ; ; text-align: left ; font-family:'Arial'; color:#000000; font-size:10pt " %> 
</DIV>

<DIV id=u53 style="position:absolute; left:165px; top:490px; width:205px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u53_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">
<%= f.select :hour_of_birth, options_for_select(['12am', '1am', '2am', '3am', '4am', '5am', '6am', '7am', '8am', '9am', '10am', '11am', '12noon', '1pm', '2pm', '3pm', '4pm', '5pm', '6pm', '7pm', '8pm', '9pm', '10pm', '11pm'], {:include_blank => 'None'}) %>
</span></DIV></DIV>

<DIV id=u52 style="position:absolute; left:162px; top:532px; width:70px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u52_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Town/City</span></DIV></DIV>
<%= f.text_field :living_city, :style=>"position:absolute; left:234px; top:532px; width:126px; height:15px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" %>

<DIV id=u53 style="position:absolute; left:162px; top:568px; width:50px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u53_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Country</span></DIV></DIV>

<DIV id=u54ann style="font-size:1px; position:absolute; left:351px; top:528px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u53 style="position:absolute; left:234px; top:564px; width:205px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u53_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><%= f.country_select :living_country %></span></DIV></DIV>

<DIV id=u55ann style="font-size:1px; position:absolute; left:360px; top:560px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u56 style="position:absolute; left:162px; top:610px; width:70px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u56_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Town/City</span></DIV></DIV>
<%= f.text_field :born_city, :style=>"position:absolute; left:233px; top:610px; width:128px; height:15px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" %>

<DIV id=u57 style="position:absolute; left:162px; top:644px; width:50px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u57_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Country</span></DIV></DIV>

<DIV id=u53 style="position:absolute; left:234px; top:644px; width:205px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u53_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><%= f.country_select :born_country %></span></DIV></DIV>

<DIV id=u61 style="position:absolute; left:190px; top:689px; width:330px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u61_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">I accept the Minetoo <%= link_to 'Terms and Conditions',terms_path, :onclick=>"window.open(this.href,'Terms and Conditions', 'height=600, width=600');return false;" %></span></DIV></DIV>
<DIV style="position:absolute; left:160px; top:689px; width:20px; height:16px; ; ; text-align: left " >
<%= f.check_box :term_condition %>
</DIV>

<%= f.submit "Next", :style=>"position:absolute; left:159px; top:735px; width:60px; height:25px; ; ; text-align: center ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" %>

<% end %>

<DIV id=u68 style="position:absolute; left:20px; top:773px; width:570px; height:48px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u68_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">After you click the Next button, we'll send you an email with a link to click to confirm your address. Remember, we will never reveal your email address to other users or publish it on this site. ... Welcome to the rapidly growing, worldwide, Minetoo community. </span></DIV></DIV>

<DIV id=u93container style="position:absolute; left:629px; top:83px; width:191px; height:21px;; overflow:visible">
<DIV id=u94 style="position:absolute; left:2px; top:2px; width:186px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u94_rtf><div style="text-align:center"><span style=" color:#FFFFFF; font-size:10pt;">You are not logged in</span></div></DIV></DIV>
</DIV>

<SCRIPT src="Resources/axurerp_pagescript.js"></SCRIPT>
<SCRIPT src="Signuppage_files/axurerp_pagespecificscript.js"></SCRIPT></BODY></HTML>



