
<br><br><br><br><br><br>
<div style="position:absolute; left:30px; text-align: left ; font-family:'Arial'; font-size:11pt; " >
<h3>Bulletin Board for <%= current_user.date_of_birth %></h3>
<h3>Your message has been posted. Thanks for contributing.</h3>
<br>
<% if @mesg.present? %>
	<% i=0 %>
	<%@mesg.each do |f|%>
		<table class="curvedEdges" cellspacing=10 width="600" >
			<tr>
				<td>From : <%= @sender[i] %><p align="left">Date posted : <%= f.created_at %></p></td>
			</tr>
			<tr>
				<td><b>Message : </b><%=f.message %></td>
			</tr>
		</table>
		<% i=i+1 %>
		<br>
	<% end %>
<% else %>
	<h3>No Bulletin Message for <%= current_user.date_of_birth %></h3>
<% end %>

</div>

<style type="text/css">
table.curvedEdges { border:3px solid #98FB98; }
</style>
