

<div style="position:absolute; left:20px; top:100px; text-align: left ; " >
	<ul id="list-nav">
		<li><u><%= link_to "My exact Birthday",birthday_path %></u></li>
		<li><u><%= link_to "My Birthday",birthdaysearch_path %></u></li>
	</ul>
</div>

<br><br><br><br><br><br><br><br><br>

<%= form_tag(:controller => "home", :action => "search") do %>
	<div style="position:absolute; left:50px; text-align: left ; " >
	<%a=[0,5,10,15,20]%>
	<table cellspacing=20>
		<tr>
			<th>Search for birthdays</th>
		</tr>
		<tr>
			<th>Years Younger </th> <td><%=select :search, :younger, a.each {a}%></td>
		</tr>
		<tr>
			<th>Years Older </th> <td><%=select :search, :older, a.each {a}%></td>
		</tr>
		<tr>
			<td><%= submit_tag 'Find Birthdays' %></td>
		</tr>	
	</table>
	</div>
<% end %>

<style type="text/css">

ul#list-nav li {
display:inline
}

ul#list-nav li u {
text-decoration:none;
padding:5px 0;
width:200px;
background:#485e49;
color:#eee;
float:left;
text-align:center;
border-left:1px solid #fff;
}

</style>
