<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css"">
<script>
     $(function() {
             $( ".datepick" ).datepicker(
	     { 
			dateFormat: 'yy-mm-dd',
			changeMonth: true,
			changeYear: true,
			yearRange: "-60:+0 "
	     
	     }); 
     });
   </script>

<div style="position:absolute; left:20px; top:100px; text-align: left ; font-family:'Arial'; font-size:11pt;" >
<h2>Tell a friend</h2>
<h5>Fill in your friend's name and email address, and if you know it, their birthdate, and we'll send them <br>a personalised email to welcome them to Minetoo.</h5>
<%= form_tag({:controller => "home", :action => "invite"}, {:onsubmit=>"return validateform(this)"}) do%>
<table cellspacing=15>
	<tr>
		<td>Your friend name</td>
		<td><%= text_field :tell, :name, "size" => 20 %></td>
	</tr>
	<tr>
		<td>Your friend E_mail</td>
		<td><%= text_field :tell,  :email, "size" => 20 %></td>
	</tr>
	<tr>
		<td>Birth date (optional)</td>
		<td><input type="text" class="datepick" id="date_of_birth" name="date_of_birth"></td>
	</tr>
	<tr>
		<th>Message (optional)</th>
		<td><%=text_area :tell,  :biography, :rows=>5, :cols=>30%></td>
	</tr>
	<tr>
		<td>Your name</td>
		<td><%= text_field :tell,  :your_name, "size" => 20 %></td>
	</tr>
	<tr>
		<td>Your E_mail</td>
		<td><%= text_field :tell,  :your_email, "size" => 20 %></td>
	</tr>
	<tr>
		<td></td>
		<td><%= submit_tag 'Send invitation' %></td>
	</tr>
</table>
<% end %>
</div>


<script type="text/javascript">
function validateform(f){
  if (f.tell_name.value=="")
  {
     alert("You must enter your friend name");
     f.tell_name.focus();
     return false;
  }
  if (f.tell_email.value=="")
  {
     alert("You must enter your friend email ");
     f.tell_email.focus();
     return false;
  }
  
  if (f.tell_your_name.value=="")
  {
     alert("You must enter your name");
     f.tell_your_name.focus();
     return false;
  }
  if (f.tell_your_email.value=="")
  {
     alert("You must enter your email");
     f.tell_your_email.focus();
     return false;
  }
  var empattern = /^[a-zA-Z0-9]+[a-zA-Z0-9_.-]+[a-zA-Z0-9_-]+@[a-zA-Z0-9]+[a-zA-Z0-9.-]+[a-zA-Z0-9]+.[a-z]{2,4}$/;
  var fmail=f.tell_email.value;
  if(empattern.test(fmail)){}else
  {
      alert("Enter vaild friend email ");
      f.tell_email.focus();
      return false;
  }
  var ymail=f.tell_your_email.value;
  if(empattern.test(ymail)){}else
  {
      alert("Enter your vaild email ");
      f.tell_your_email.focus();
      return false;
  }
  var npattern = /^[a-zA-Z]{2,15}$/;
  var fname=f.tell_name.value;
  if(npattern.test(fname)){}else
  {
      alert("Name does not have Numbers");
      f.tell_name.focus();
      return false;
  }
  var yname=f.tell_your_name.value;
  if(npattern.test(yname)){}else
  {
      alert("Your Name does not have Numbers");
      f.tell_your_name.focus();
      return false;
  }

}
</script>


