
<span style="position:absolute; left:3px; top:3px; width:817px; height:53px">
<IMG id=ou0 src="/images/Home_files/u0.jpg" style="position:absolute;left:0px;top:0px;width:817px;height:53px">
</span>


<DIV id=ou1 style="position:absolute; left:3px; top:56px; width:818px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:826px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Home_files/u1.png',sizingMethod='scale');
"><img style="width:826px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u1.png" border="0" alt=""></span>

</DIV>
<DIV id=u1container style="position:absolute; left:3px; top:56px; width:818px; height:26px;; overflow:visible">

<DIV id=u2 style="position:absolute; left:2px; top:4.5px; width:813px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u2_rtf>&nbsp;</DIV></DIV>
</DIV>

<DIV id=ou3 style="position:absolute; left:90px; top:57px; width:61px; height:21px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:69px; height:29px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Home_files/u3.png',sizingMethod='scale');
"><img style="width:69px; height:29px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u3.png" border="0" alt=""></span>

</DIV>
<DIV id=u3container style="position:absolute; left:90px; top:57px; width:61px; height:21px;; overflow:visible">

<DIV id=u4 style="position:absolute; left:2px; top:2px; width:56px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u4_rtf><div style="text-align:center"><span style=" font-family:'Arial'; color:#FFFFFF; font-size:10pt;"><%= link_to 'Home',home_path %></span></div></DIV></DIV>
</DIV>


<DIV id=ou5 style="position:absolute; left:146px; top:57px; width:51px; height:21px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:59px; height:29px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Home_files/u5.png',sizingMethod='scale');
"><img style="width:59px; height:29px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u5.png" border="0" alt=""></span>

</DIV>
<DIV id=u5container style="position:absolute; left:146px; top:57px; width:51px; height:21px;; overflow:visible">

<DIV id=u6 style="position:absolute; left:2px; top:2px; width:46px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u6_rtf><div style="text-align:center"><span style=" font-family:'Arial'; color:#FFFFFF; font-size:10pt;"><%= link_to 'About',about_path %></span></div></DIV></DIV>
</DIV>


<DIV id=ou7 style="position:absolute; left:194px; top:57px; width:51px; height:21px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:59px; height:29px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Home_files/u7.png',sizingMethod='scale');
"><img style="width:59px; height:29px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u7.png" border="0" alt=""></span>

</DIV>
<DIV id=u7container style="position:absolute; left:194px; top:57px; width:51px; height:21px;; overflow:visible">

<DIV id=u8 style="position:absolute; left:2px; top:2px; width:46px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u8_rtf><div style="text-align:center"><span style=" font-family:'Arial'; color:#FFFFFF; font-size:10pt;"><%= link_to 'FAQ',faq_path %></span></div></DIV></DIV>
</DIV>


<DIV id=ou9 style="position:absolute; left:244px; top:57px; width:81px; height:21px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:89px; height:29px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Home_files/u9.png',sizingMethod='scale');
"><img style="width:89px; height:29px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u9.png" border="0" alt=""></span>

</DIV>
<DIV id=u9container style="position:absolute; left:244px; top:57px; width:81px; height:21px;; overflow:visible">

<DIV id=u10 style="position:absolute; left:2px; top:2px; width:76px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u10_rtf><div style="text-align:center"><span style=" color:#FFFFFF; font-size:10pt;"><%= link_to 'Tell a friend',invite_path %></span></div></DIV></DIV>
</DIV>

<DIV id=ou11 style="position:absolute; left:333px; top:57px; width:231px; height:21px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:239px; height:29px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Home_files/u11.png',sizingMethod='scale');
"><img style="width:239px; height:29px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u11.png" border="0" alt=""></span>

</DIV>
<DIV id=u11container style="position:absolute; left:333px; top:57px; width:231px; height:21px;; overflow:visible">

<DIV id=u12 style="position:absolute; left:2px; top:2px; width:226px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u12_rtf><div style="text-align:center"><span style=" color:#FFFFFF; font-size:10pt;">
<%= link_to 'Been here before? click here to log in',new_user_session_path %></span></div></DIV></DIV>
</DIV>


<DIV id=ou13 style="position:absolute; left:3px; top:971px; width:816px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:824px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Home_files/u13.png',sizingMethod='scale');
"><img style="width:824px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u13.png" border="0" alt=""></span>

</DIV>
<DIV id=u13container style="position:absolute; left:3px; top:971px; width:816px; height:26px;; overflow:visible">

<DIV id=u14 style="position:absolute; left:2px; top:4.5px; width:811px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u14_rtf>&nbsp;</DIV></DIV>
</DIV>

<DIV id=ou15 style="position:absolute; left:174px; top:973px; width:392px; height:21px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:400px; height:29px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Home_files/u15.png',sizingMethod='scale');
"><img style="width:400px; height:29px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u15.png" border="0" alt=""></span>

</DIV>
<DIV id=u15container style="position:absolute; left:174px; top:973px; width:392px; height:21px;; overflow:visible">

<DIV id=u16 style="position:absolute; left:2px; top:2px; width:387px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u16_rtf><div style="text-align:center"><span style=" color:#C0C0C0; font-size:10pt;">Copyright @ Minetoo Ltd. 2004 - 2006</span></div></DIV></DIV>
</DIV>

<DIV id=ou17 style="position:absolute; left:2px; top:920px; width:819px; height:51px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:827px; height:59px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Home_files/u17.png',sizingMethod='scale');
"><img style="width:827px; height:59px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u17.png" border="0" alt=""></span>

</DIV>
<DIV id=u17container style="position:absolute; left:2px; top:920px; width:819px; height:51px;; overflow:visible">

<DIV id=u18 style="position:absolute; left:2px; top:17px; width:814px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u18_rtf>&nbsp;</DIV></DIV>
</DIV>

<DIV id=ou19 style="position:absolute; left:116px; top:922px; width:61px; height:21px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:69px; height:29px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Home_files/u19.png',sizingMethod='scale');
"><img style="width:69px; height:29px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u19.png" border="0" alt=""></span>

</DIV>
<DIV id=u19container style="position:absolute; left:116px; top:922px; width:61px; height:21px;; overflow:visible">

<DIV id=u20 style="position:absolute; left:2px; top:2px; width:56px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u20_rtf><div style="text-align:center"><span style=" font-family:'Arial'; color:#FFFFFF; font-size:10pt;"><%= link_to 'Home',home_path %></span></div></DIV></DIV>
</DIV>


<DIV id=ou21 style="position:absolute; left:172px; top:922px; width:51px; height:21px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:59px; height:29px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Home_files/u21.png',sizingMethod='scale');
"><img style="width:59px; height:29px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u21.png" border="0" alt=""></span>

</DIV>
<DIV id=u21container style="position:absolute; left:172px; top:922px; width:51px; height:21px;; overflow:visible">

<DIV id=u22 style="position:absolute; left:2px; top:2px; width:46px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u22_rtf><div style="text-align:center"><span style=" font-family:'Arial'; color:#FFFFFF; font-size:10pt;"><%= link_to 'About',about_path %></span></div></DIV></DIV>
</DIV>

<DIV id=ou23 style="position:absolute; left:220px; top:922px; width:51px; height:21px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:59px; height:29px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Home_files/u23.png',sizingMethod='scale');
"><img style="width:59px; height:29px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u23.png" border="0" alt=""></span>

</DIV>
<DIV id=u23container style="position:absolute; left:220px; top:922px; width:51px; height:21px;; overflow:visible">

<DIV id=u24 style="position:absolute; left:2px; top:2px; width:46px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u24_rtf><div style="text-align:center"><span style=" font-family:'Arial'; color:#FFFFFF; font-size:10pt;"><%= link_to 'FAQ',faq_path %></span></div></DIV></DIV>
</DIV>

<DIV id=ou25 style="position:absolute; left:270px; top:922px; width:81px; height:21px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:89px; height:29px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Home_files/u25.png',sizingMethod='scale');
"><img style="width:89px; height:29px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u25.png" border="0" alt=""></span>

</DIV>
<DIV id=u25container style="position:absolute; left:270px; top:922px; width:81px; height:21px;; overflow:visible">

<DIV id=u26 style="position:absolute; left:2px; top:2px; width:76px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u26_rtf><div style="text-align:center"><span style=" color:#FFFFFF; font-size:10pt;"><%= link_to 'Tell a friend',invite_path %></span></div></DIV></DIV>
</DIV>

<DIV id=ou27 style="position:absolute; left:359px; top:922px; width:231px; height:21px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:239px; height:29px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Home_files/u27.png',sizingMethod='scale');
"><img style="width:239px; height:29px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u27.png" border="0" alt=""></span>

</DIV>
<DIV id=u27container style="position:absolute; left:359px; top:922px; width:231px; height:21px;; overflow:visible">

<DIV id=u28 style="position:absolute; left:2px; top:2px; width:226px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u28_rtf><div style="text-align:center"><span style=" color:#FFFFFF; font-size:10pt;">


<%= link_to 'Been here before? click here to log in',new_user_session_path %></span></div></DIV></DIV>
</DIV>




<DIV id=ou29 style="position:absolute; left:184px; top:946px; width:91px; height:21px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:99px; height:29px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Home_files/u29.png',sizingMethod='scale');
"><img style="width:99px; height:29px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u29.png" border="0" alt=""></span>

</DIV>
<DIV id=u29container style="position:absolute; left:184px; top:946px; width:91px; height:21px;; overflow:visible">

<DIV id=u30 style="position:absolute; left:2px; top:2px; width:86px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u30_rtf><div style="text-align:center"><span style=" color:#FFFFFF; font-size:10pt;"><%= link_to 'Contact us',contactus_path %></span></div></DIV></DIV>
</DIV>

<DIV id=ou31 style="position:absolute; left:294px; top:946px; width:261px; height:21px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:269px; height:29px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Home_files/u31.png',sizingMethod='scale');
"><img style="width:269px; height:29px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u31.png" border="0" alt=""></span>

</DIV>
<DIV id=u31container style="position:absolute; left:294px; top:946px; width:261px; height:21px;; overflow:visible">

<DIV id=u32 style="position:absolute; left:2px; top:2px; width:256px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u32_rtf><div style="text-align:center"><span style=" color:#FFFFFF; font-size:10pt;">
<%= link_to 'Terms and Conditions',terms_path, :onclick=>"window.open(this.href,'Terms and Conditions', 'height=600, width=600');return false;" %>
</span></div></DIV></DIV>

</DIV>

<span style="position:absolute; left:620px; top:110px; width:5px; height:473px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Home_files/u33.png',sizingMethod='scale');
"><img style="width:5px; height:473px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u33.png" border="0" alt=""></span>

<DIV id=ou34 style="position:absolute; left:643px; top:300px; width:144px; height:141px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:152px; height:149px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Home_files/u34.png',sizingMethod='scale');
"><img style="width:152px; height:149px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Home_files/u34.png" border="0" alt=""></span>

</DIV>
<DIV id=u34container style="position:absolute; left:643px; top:300px; width:144px; height:141px;; overflow:visible">

<DIV id=u35 style="position:absolute; left:2px; top:14px; width:139px; height:112px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u35_rtf><div style="text-align:center"><span style=" color:#FFFFFF; font-size:8pt;">You share my birthday. Does sharing the same birthday mean we have anything else in common? Find out now. It's free.<br><br>For advertising contact <u>marketing@minetoo.com</u></span></div></DIV></DIV>
</DIV>


