
<div style="position:absolute; left:3px; top:3px; width:830px; height:53px;">
<IMG src="/images/My Birthday_files/u0.jpg">
</div>

<DIV style="position:absolute; left:0px; top:50px; width:800px; height:26px;">
<img src="/images/My Birthday_files/u34.png">
</DIV>

<div id="u47container" style="position:absolute; left:600px; top:75px; width:200px; height:21px; font-size:10pt; overflow:visible">
<p>Welcome, <%=current_user.name%></p>
</div>

<div style="position:absolute; left:800px; top:142px; width:5px; height:363px; ">
<img src="/images/My Birthday_files/u5.png" border="0" alt="">
</div>

<DIV id=ou6 style="position:absolute; left:815px; top:266px; width:144px; height:141px;; overflow:visible">
<img src="/images/My Birthday_files/u6.png" border="0" alt=""></span>
</DIV>

<DIV id=u6container style="position:absolute; left:820px; top:280px; width:144px; height:141px; font-size:8pt; overflow:visible">
You share my birthday. Does sharing the same birthday mean we have anything else in common? Find out now. It's free.<br><br>For advertising contact <u>marketing@minetoo.com</u>
</DIV>


<div style="position:absolute; top:1000px;">

<DIV id=ou1 style="position:absolute; left:0px; width:801px; height:20px;">
<img src="/images/My Birthday_files/u1.png">
</DIV>

<DIV id=ou1 style="position:absolute; left:0px; top:25px; width:801px; height:20px;">
<img src="/images/My Birthday_files/u1.png">
</DIV>

<DIV id=ou1 style="position:absolute; left:0px; top:45px; width:801px; height:20px;">
<img src="/images/My Birthday_files/u1.png">
</DIV>

<DIV id=u3container style="position:absolute; left:100px; top:30px; width:390px; height:21px;  text-align: center ; overflow:visible">
<h6>Copyright @ Minetoo Ltd. 2004 - 2006</h6>
</DIV>

<DIV id=u10container style="position:absolute; left:57px; top:7px; width:61px; height:21px; font-size:9pt; overflow:visible">
<%= link_to 'Home',home_path %>
</DIV>

<DIV id=u12container style="position:absolute; left:106px; top:7px; width:51px; height:21px; font-size:9pt; overflow:visible">
<%= link_to 'About',about_path %>
</DIV>

<DIV id=u14container style="position:absolute; left:152px; top:7px; width:37px; height:21px; font-size:9pt; overflow:visible">
<%= link_to 'FAQ',faq_path %>
</DIV>

<DIV id=u16container style="position:absolute; left:187px; top:7px; width:81px; height:21px; font-size:9pt; overflow:visible">
<%= link_to 'Tell a friend',invite_path %>
</DIV>

<DIV id=u18container style="position:absolute; left:179px; top:30px; width:91px; height:21px; font-size:9pt; overflow:visible">
<%= link_to 'Contact us',contactus_path %>
</DIV>

<DIV id=u20container style="position:absolute; left:330px; top:30px; width:261px; height:21px; font-size:9pt; overflow:visible">
<%= link_to 'Terms and Conditions',terms_path, :onclick=>"window.open(this.href,'Terms and Conditions', 'height=600, width=600');return false;" %>
</DIV>

<DIV id=u22container style="position:absolute; left:510px; top:7px; width:51px; height:21px; font-size:9pt; overflow:visible">
<%= link_to 'Myself',myself_path %>
</DIV>

<DIV id=u24container style="position:absolute; left:267px; top:7px; width:81px; height:21px; font-size:9pt; overflow:visible">
<%= link_to "My Birthday",birthday_path %>
</DIV>

<DIV id=u26container style="position:absolute; left:348px; top:7px; width:91px; height:21px; font-size:9pt; overflow:visible">
<%= link_to 'Bulletin Board',showbulletin_path %>
</DIV>

<DIV id=u28container style="position:absolute; left:558px; top:7px; width:81px; height:21px; font-size:9pt; overflow:visible">
<%= link_to 'Preferences',edit_user_registration_path %>
</DIV>

<DIV id=u30container style="position:absolute; left:445px; top:7px; width:71px; height:21px; font-size:9pt; overflow:visible">
<%= link_to 'Messages',showmessage_path %>
</DIV>

<DIV id=u32container style="position:absolute; left:636px; top:7px; width:59px; height:21px; font-size:9pt; overflow:visible">
<%= link_to 'Logout',destroy_user_session_path %>
</DIV>

</div>



<DIV id=u36container style="position:absolute; left:50px; top:59px; width:61px; height:21px; font-size:9pt; overflow:visible">
<%= link_to 'Home',home_path %>
</DIV>

<DIV id=u38container style="position:absolute; left:93px; top:56px; width:51px; height:21px; font-size:9pt; overflow:visible">
<DIV id=u39 style="position:absolute; left:2px; top:2px; width:46px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u39_rtf><div style="text-align:center"><span style=" font-family:'Arial'; color:#FFFFFF; font-size:10pt;"><%= link_to 'About',about_path %></span></div></DIV></DIV>
</DIV>

<DIV id=u40container style="position:absolute; left:137px; top:56px; width:51px; height:21px; font-size:9pt; overflow:visible">
<DIV id=u41 style="position:absolute; left:2px; top:2px; width:46px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u41_rtf><div style="text-align:center"><span style=" font-family:'Arial'; color:#FFFFFF; font-size:10pt;"><%= link_to 'FAQ',faq_path %></span></div></DIV></DIV>
</DIV>


<DIV id=u42container style="position:absolute; left:186px; top:56px; width:81px; height:21px; font-size:9pt; overflow:visible">
<DIV id=u43 style="position:absolute; left:2px; top:2px; width:76px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u43_rtf><div style="text-align:center"><span style=" color:#FFFFFF; font-size:10pt;"><%= link_to 'Tell a friend',invite_path %></span></div></DIV></DIV>
</DIV>


<DIV id=u44container style="position:absolute; left:264px; top:56px; width:81px; height:21px; font-size:9pt; overflow:visible">
<DIV id=u45 style="position:absolute; left:2px; top:2px; width:76px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u45_rtf><div style="text-align:center"><span style=" color:#FFFFFF; font-size:10pt;"><%= link_to "My Birthday",birthday_path %></span></div></DIV></DIV>
</DIV>


<DIV id=u46container style="position:absolute; left:338px; top:56px; width:101px; height:21px; font-size:9pt; overflow:visible">
<DIV id=u47 style="position:absolute; left:2px; top:2px; width:96px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u47_rtf><div style="text-align:center"><span style=" color:#FFFFFF; font-size:10pt;"><%= link_to 'Bulletin Board',showbulletin_path %></span></div></DIV></DIV>
</DIV>

<DIV id=u48container style="position:absolute; left:428px; top:55px; width:81px; height:21px; font-size:9pt; overflow:visible">
<DIV id=u49 style="position:absolute; left:2px; top:2px; width:76px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u49_rtf><div style="text-align:center"><span style=" color:#FFFFFF; font-size:10pt;"><%= link_to 'Messages',showmessage_path %></span></div></DIV></DIV>
</DIV>


<DIV id=u50container style="position:absolute; left:501px; top:55px; width:48px; height:21px; font-size:9pt; overflow:visible">
<DIV id=u51 style="position:absolute; left:2px; top:2px; width:43px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u51_rtf><div style="text-align:center"><span style=" color:#FFFFFF; font-size:10pt;"><%= link_to 'Myself',myself_path %></span></div></DIV></DIV>
</DIV>


<DIV id=u52container style="position:absolute; left:550px; top:55px; width:81px; height:21px; font-size:9pt; overflow:visible">
<DIV id=u53 style="position:absolute; left:2px; top:2px; width:76px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u53_rtf><div style="text-align:center"><span style=" color:#FFFFFF; font-size:10pt;"><%= link_to 'Preferences',edit_user_registration_path %></span></div></DIV></DIV>
</DIV>


<DIV id=u54container style="position:absolute; left:631px; top:55px; width:51px; height:21px; font-size:9pt; overflow:visible">
<DIV id=u55 style="position:absolute; left:2px; top:2px; width:46px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u55_rtf><div style="text-align:center"><span style=" color:#FFFFFF; font-size:10pt;"><%= link_to 'Logout',destroy_user_session_path %></span></div></DIV></DIV>
</DIV>
