<!DOCTYPE html>
<html>  
<head>
  <title>MineToo</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<DIV style="position:absolute; left:100px; ">
  <% if user_signed_in? %>
    <%= render :partial => "layouts/signin" %>
  <% else %>
    <%= render :partial => "layouts/signout" %>
  <% end %>
  
  <%= yield %>
  
</DIV>
</body>
</html>
